# I know this is more for data science/ML projects, but I wanted a way to document my implementation of new tech e.g. my first Google Cloud registration
jupyter

# needed to increment API searches
datetime

# need to connect to the (online) Postgres database
psycopg2

# this is for python to talk to SQL databases
mysql-connector